.pl {
    padding: 50px 100px;
    align-items: center;
    text-align: center;
}


.pl-title {
    font-size: 50px;
    font-weight: 600;
}

.pl-desc {
    margin: 20px 0px;
}

.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}